@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fbd46d;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

main {
  align-items: center;
  justify-content: center;
}

/* Navbar */
.navbar {
  background: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.logo {
  margin: auto;
}

/* Showcase */
/* TODO: center the showcase */
.showcase {
  min-height: 700px;
  width: 100%;
  /* background: var(--primary-color); */
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  height: 1200px;
  margin: auto;
}

.showcase h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  padding: 1rem 0;
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.showcase form input,
form select {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* TODO: change button colors */
form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #4f8a8b;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

form button:hover {
  transform: scale(1.1);
}

/* TODO: change button colors */
.reset-btn {
  font-size: 20px;
  padding: 1rem 2rem;
  border: 2px solid #4f8a8b;
  border-radius: 5px;
  background: transparent;
  color: #4f8a8b;
  cursor: pointer;
  margin-top: 20px;
}

.reset-btn:hover {
  background-color: #4f8a8b;
  color: #fff;
}

.reset-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 20px;
}

.form-control {
  /* make label be above input */
  display: flex;
  flex-direction: column;
}

/* Image */

.image {
  width: 100%;
  margin-top: 2rem;
  display: none;
}

img {
  display: block;
  margin: auto;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

#modal {
  display: none; /* hide the modal by default */
  position: fixed; /* position the modal in the center of the screen */
  z-index: 1; /* make sure the modal is on top of other elements */
  left: 0;
  top: 0;
  width: 100%; /* take up the full width of the screen */
  height: 100%; /* take up the full height of the screen */
  overflow: auto; /* enable scrolling if the content exceeds the height */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* make the background semi-transparent */
}

#modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* center the modal horizontally and vertically */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* set the width of the modal */
}

#close-modal-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-modal-button:hover,
#close-modal-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-input {
  font-size: 20px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.modal-title {
  text-align: center;
}
